.container{
    display: grid;
    grid-template-columns: 200px 200px 200px  ;
    grid-template-rows: 200px 200px 200px ;
}
    .elemento-um{
        background-color: rgb(255, 0, 0);
        color: white;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .elemento-dois{
        background-color: blue;
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .elemento-tres{
        background-color: rgb(255, 0, 0);
        color: white;
        grid-column-start: 1;
        grid-column-end: 3;
    }